@import "../../share";

.player-container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  min-height: calc(#{$min-height-mobile} - #{$header-height-mobile});
}

.player-container__track-cover {
  width: $cover-size;
  height: $cover-size;
  background-size: cover;
  margin: auto;
  border-radius: 3px;
  transition: width .3s, height .3s, box-shadow .4s ease;
  box-shadow: inset 0px 0px 8px 4px $background-color;
  display: flex;
}

.icon-container {
  opacity: 0.6;
  color: $light-color;
  margin: auto;
}

.icon-container__icon {
  font-size: 90px;
}

.audio-player {
  display: none;
}

.pseudo-image {
  display: none;
}

.carousel-container {
  margin: auto;
}

.item-carousel {
  width: $cover-size !important;
  height: $cover-size !important;
  display: flex !important;
}

.player-container__track-cover-selected {
  box-shadow: inset 0 0 10px 3px $help-color;
  width: $cover-size;
  height: $cover-size;
}

.audio-controls, .main-action-line {
  max-width: $header-width-mobile;
  width: $cover-size;
}

.audio-controls {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.main-action-line {
  margin: auto;
  display: flex;
  align-items: center;
}

.volume-menu {
  background-color: transparent;
}

.volume-menu__icon {
  background-color: $light-color;
}

.progress-bar {
  width: 100%;
}

.progress-bar__all-time, .progress-bar__current-time {
  height: 4px;
  background-color: $light-color;
  border-radius: 2px;
}

.progress-bar__all-time {
  width: 100%;
  opacity: 0.2;
}

.progress-bar__current-time {
  position: relative;
  top: -4px;
}

@media #{$tablets-and-large} {
  .item-carousel {
    width: $active-cover-size !important;
    height: $active-cover-size !important;
    margin-top: 10px;
  }

  .audio-controls {
    padding: 70px 0 30px;
  }

  .player-container__track-cover-highlighted {
    &::before, &::after {
      content: '';
      position: absolute;
      top: -1px;
      left: -1px;
      background: linear-gradient(45deg, #850442, $help-color, #8c0000, #9a044a, $help-color, #bb0000, #850442, $help-color, #8c0000, #9a044a, $help-color, #bb0000);
      background-size: 400%;
      z-index: -1;
      width: calc(100% + 2px);
      height: calc(100% + 2px);
      animation: animatedShadow 40s linear infinite;
    }

    &::after {
      filter: blur(8px);
    }
  }

  .player-container__track-cover-selected {
    box-shadow: inset 0px 0px 8px 4px $background-color;
    width: $active-cover-size;
    height: $active-cover-size;
  }

  .player-container__track-cover-selected.player-container__track-cover-played {
    box-shadow: none;
  }

  .player-container {
    min-height: auto;
  }

  .audio-controls, .main-action-line {
    max-width: 900px;
    width: calc(100% - 200px);
  }

  .player-container__track-cover {
    &:hover {
      .icon-container {
        opacity: 0.6;
        color: $light-color;
        text-shadow: 0px 0px 10px $background-color;
      }
    }
  }

  .icon-container {
    transition: color .4s, text-shadow .3s .1s;
    display: flex;
    margin: auto;
    opacity: 0;
    color: transparent;
  }
}

@keyframes animatedShadow {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 300% 0;
  }

  100% {
    background-position: 0 0;
  }
}

