<div class="player-container">
  <carousel-component #coversCarousel
                      class="carousel-container"
                      [initialSlide]="currentSongIndex"
                      [margin]="100"
                      [angle]="20">
    <div *ngFor="let song of songs; let i = index"
         class="item-carousel">
      <img class="pseudo-image"
           [src]="song.coverSrc"
           (load)="onImageLoad()">
      <div class="player-container__track-cover"
           [ngClass]="{'player-container__track-cover-selected': i === currentSongIndex && isPlayed, 'player-container__track-cover-highlighted': i === currentSongIndex && isHighlighted && isPlayed}"
           [ngStyle]="{'background-image': 'url(' + song.coverSrc + ')'}"
           (click)="selectTrack(i)">
        <div class="icon-container">
          <i class="material-icons icon-container__icon">
            {{isPlayed && i === currentSongIndex ? 'pause' : 'play_arrow'}}
          </i>
        </div>
      </div>
    </div>
  </carousel-component>

  <div class="audio-controls">
    <div class="main-action-line">
      <div class="progress-bar">
        <div class="progress-bar__all-time"></div>
        <div class="progress-bar__curret-time" [ngStyle]="{'width': currentProgressWidth + '%'}"></div>
      </div>

      <!--<button mat-icon-button-->
              <!--[matMenuTriggerFor]="menu">-->
        <!--<mat-icon>volume_up</mat-icon>-->
      <!--</button>-->
      <!--<mat-menu #menu="matMenu">-->
        <!--<button mat-menu-item>-->
          <!--<mat-icon>dialpad</mat-icon>-->
          <!--<span>Redial</span>-->
        <!--</button>-->
        <!--<mat-slider min="0" max="100" vertical></mat-slider>-->
      <!--</mat-menu>-->
    </div>
  </div>

  <audio #audioPlayer
         class="audio-player"
         type="audio/mp3"
         (play)="onPlay()"
         (pause)="onPause()"
         controls>
  </audio>
</div>
