@import "../../share";

.player-container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.player-container__track-cover {
  width: $cover-size;
  height: $cover-size;
  background-size: cover;
  margin: 0;
  border-radius: 3px;
  box-shadow: inset 0px 0px 8px 4px $background-color;
}

.player-container__audio-player {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 50px;
}

.carousel-container {
  margin: auto;
}

.item-carousel {
  width: 300px !important;
  height: 300px !important;
}
