@import "../../share";

.player-container {
  display: flex;
  flex-direction: column;
}

.player-container__track-cover {
  width: $cover-size;
  height: $cover-size;
  background-size: cover;
  margin: auto;
  border-radius: 3px;
  box-shadow: inset 0px 0px 44px 10px $background-color;
}

.player-container__audio-player {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
