<div class="player-container">
  <carousel-component #coversCarousel
                      class="carousel-container"
                      [initialSlide]="currentSongIndex"
                      [margin]="100"
                      [angle]="10">
    <div *ngFor="let song of songs; let i = index"
         class="item-carousel">
      <img class="pseudo-image"
           [src]="song.coverSrc"
           (load)="onImageLoad()">
      <div class="player-container__track-cover"
           [ngClass]="{'player-container__track-cover-selected': i === currentSongIndex,
            'player-container__track-cover-played': i === currentSongIndex && isPlayed,
            'player-container__track-cover-highlighted': i === currentSongIndex && isHighlighted
            }"
           [ngStyle]="{'background-image': 'url(' + song.coverSrc + ')'}"
           (click)="selectTrack(i)">
        <div class="icon-container">
          <i class="material-icons icon-container__icon">
            {{isPlayed && i === currentSongIndex ? 'pause' : 'play_arrow'}}
          </i>
        </div>
      </div>
    </div>
  </carousel-component>

  <div class="audio-controls">
    <div class="main-action-line">
      <i class="material-icons action-button desktop"
         (click)="selectTrack(currentSongIndex)">
        {{isPlayed ? 'pause' : 'play_arrow'}}
      </i>
      <div class="progress-bar"
           (click)="goToTime($event)">
        <div class="progress-bar__all-time"></div>
        <div class="progress-bar__current-time"
             [ngStyle]="{'width': currentProgressWidth + '%'}">
        </div>
      </div>
      <div class="volume-control desktop">
        <i class="material-icons volume-control__volume-icon"
           (click)="muteVolume()">
          {{currentVolumeHeight > 35 && !isMuted ? 'volume_up' : currentVolumeHeight > 0 && !isMuted ? 'volume_down' : 'volume_off'}}
        </i>
        <div class="volume-slider-container">
          <div class="slider"
               (click)="setVolume($event)">
            <div #volume
                 class="slider__full-scale">
            </div>
            <div class="slider__current-volume"
                 [ngStyle]="{'height': isMuted ? 0 : currentVolumeHeight + 'px'}"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <audio #audioPlayer
         class="audio-player"
         type="audio/mp3"
         (play)="onPlay()"
         (pause)="onPause()"
         controls>
  </audio>
</div>
