<div class="player-container">
  <carousel-component class="carousel-container"
                      [initialSlide]="1"
                      [margin]="100"
                      [angle]="20">
    <div *ngFor="let song of songs" class="item-carousel">
      <div class="player-container__track-cover"
           [ngStyle]="{'background-image': 'url(' + song.coverSrc + ')'}">
      </div>
    </div>
  </carousel-component>
  <audio class="player-container__audio-player"
         [src]="songs[1].audioSrc"
         type="audio/mp3"
         controls>
  </audio>
</div>
