<wait-spinner *ngIf="showWaitSpinner"
              [@enterAnimation]>
</wait-spinner>

<div class="app-container"
     [ngClass]="{'hide-content': showWaitSpinner}">
  <header class="app-container__header">
    <img class="pseudo-image"
         src="../../assets/logo2.png"
         alt="logo"
         (load)="onImageLoad()">
    <div class="app-container__header-logo"></div>
  </header>

  <img class="pseudo-image"
       *ngFor="let song of songs"
       [src]="song.coverSrc"
       [alt]="song.title"
       (load)="onImageLoad()">

  <div class="menu-panel flex">
    <div class="navigation-links-container flex flex-row">
      <div class="menu-element"
           [ngClass]="{'active': shownElement === 'video'}"
           (click)="shownElement = 'video'">
        video
      </div>
      <div class="menu-element"
           [ngClass]="{'active': shownElement === 'audio'}"
           (click)="shownElement = 'audio'">
        audio
      </div>
    </div>
  </div>

  <div class="menu-panel flex">
    <div class="navigation-links-container flex flex-row">
      <div class="menu-element"
           [ngClass]="{'active': shownElement === 'video'}"
           (click)="shownElement = 'video'">
        video
      </div>
      <div class="menu-element"
           [ngClass]="{'active': shownElement === 'audio'}"
           (click)="shownElement = 'audio'">
        audio
      </div>
    </div>
  </div>

  <!--<div class="menu-panel secondary flex">-->
    <!--<div class="navigation-links-container flex flex-row">-->
      <!--<div class="menu-element"-->
           <!--[ngClass]="{'active': shownElement === 'video'}"-->
           <!--(click)="shownElement = 'video'">-->
        <!--About-->
      <!--</div>-->
      <!--<div class="menu-element"-->
           <!--[ngClass]="{'active': shownElement === 'audio'}"-->
           <!--(click)="shownElement = 'audio'">-->
        <!--Express russe-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <div class="main-content-container flex">
    <div class="players">
      <div *ngIf="shownElement === 'audio'"
           class="audio-container">
        <audio-player [songs]="songs"
                      (imageLoaded)="onImageLoad()">
        </audio-player>
      </div>

      <video-player *ngIf="shownElement === 'video'">
      </video-player>
    </div>
  </div>

  <footer>
    <div class="social-icons">
      <a class="social-icons-link"
         target="_blank"
         rel="noopener noreferrer"
         href="https://vk.com/stipan_project">
        <img class="pseudo-image"
             src="../../assets/vk.svg"
             (load)="onImageLoad()">
        <div class="social-icons__vk"></div>
      </a>
      <a class="social-icons-link"
         target="_blank"
         rel="noopener noreferrer"
         href="https://soundcloud.com/stipan_project">
        <img class="pseudo-image"
             src="../../assets/soundcloud.png"
             (load)="onImageLoad()">
        <div class="social-icons__soundcloud"></div>
      </a>
    </div>
  </footer>
</div>
