@import '../../share';

.app-container {
  text-align:center;
  background-color: $background-color;
  color: white;
  min-height: 100vh;
  height: 100%;
}
.app-container__header {
  background-color: $background-color;
  display: flex;
  height: 150px;
}

.app-container__header-logo {
  min-height: $header-height-mobile;
  max-width: $header-width-mobile;
  width: 100%;
  margin: auto;
  box-shadow: inset 0 0 44px 22px $background-color;
  background-image: url('../../assets/logo_only_text.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
}

.pseudo-image {
  display: none;
}

.hide-content {
  opacity: 0;
}

@media #{$tablets-and-large} {
  .app-container__header-logo {
    max-width: $header-width;
    min-height: $header-height;
    background-image: url('../../assets/logo2.png');
  }

  .app-container__header {
    height: auto;
  }
}
