@import '../../share';

.app-container {
  text-align:center;
  background-color: $background-color;
  color: white;
  min-height: 100vh;
  height: 100%;
}
.app-container__header {
  padding: 30px 0 20px 0;
  background-color: $background-color;
  display: flex;
  height: 200px;
}

.app-container__header-logo {
  min-height: 150px;
  max-width: 800px;
  width: 100%;
  margin: auto;
  box-shadow: inset 0 0 44px 22px $background-color;
  background-image: url('../../assets/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
}

@media #{$tablets-and-large} {
  .app-container__header-logo {
    max-width: 800px;
    min-height: 320px;
  }

  .app-container__header {
    height: auto;
  }
}
