<wait-spinner *ngIf="showWaitSpinner || shownElement === 'audio' && loadedImages < songs.length + ownImagesOnPage"
              [@enterAnimation]>
</wait-spinner>

<div class="app-container"
     [ngClass]="{'hide-content': showWaitSpinner || shownElement === 'audio' && loadedImages < songs.length + ownImagesOnPage}">
  <header class="app-container__header">
    <img class="pseudo-image"
         src="../../assets/logo2.png"
         (load)="onImageLoad()">
    <div class="app-container__header-logo"></div>
  </header>
  <div class="menu-panel flex">
    <div class="menu-element-container flex flex-row margin-auto">
      <div class="menu-element"
           [ngClass]="{'active': shownElement === 'video'}"
           (click)="shownElement = 'video'">
        video
      </div>
      <div class="menu-element"
           [ngClass]="{'active': shownElement === 'audio'}"
           (click)="shownElement = 'audio'">
        audio
      </div>
    </div>
  </div>
  <div class="main-content-container flex">

    <div class="players">
      <audio-player *ngIf="shownElement === 'audio'"
                    [songs]="songs"
                    (imageLoaded)="onImageLoad()">
      </audio-player>
      <video-player *ngIf="shownElement === 'video'">
      </video-player>
    </div>
  </div>
  <footer>
    <div class="social-icons">
      <a class="social-icons-link"
         target="_blank"
         rel="noopener noreferrer"
         href="https://vk.com/stipan_project">
        <img class="pseudo-image"
             src="../../assets/vk.svg"
             (load)="onImageLoad()">
        <div class="social-icons__vk"></div>
      </a>
      <a class="social-icons-link"
         target="_blank"
         rel="noopener noreferrer"
         href="https://soundcloud.com/stipan_project">
        <img class="pseudo-image"
             src="../../assets/soundcloud.png"
             (load)="onImageLoad()">
        <div class="social-icons__soundcloud"></div>
      </a>
    </div>
  </footer>
</div>
