@import '../../share';

.app-container {
  text-align: center;
  background-color: $background-color;
  color: white;
  min-height: $min-height-mobile;
  height: 100%;
}

.app-container__header {
  background-color: $background-color;
  display: flex;
  height: 150px;
}

.app-container__header-logo {
  min-height: $header-height-mobile;
  max-width: $header-width-mobile;
  width: 100%;
  margin: auto;
  box-shadow: none;
  background-image: url('../../assets/logo_only_text.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
}

.pseudo-image {
  display: none;
}

.hide-content {
  opacity: 0;
}

footer {
  display: flex;
}

.social-icons {
  display: none;
}

.social-icons__vk, .social-icons__soundcloud, .menu-element {
  opacity: 0.3;
  transition: opacity .3s;

  &:hover, &.active {
    opacity: .7;
  }
}

.menu-panel {
  margin: 0 0 20px 0;
}

.menu-element {
  cursor: pointer;
  user-select: none;

  &:focus {
    outline: 0;
  }
}

.menu-element + .menu-element {
  margin-left: 40px;
}

.players {
  margin: 0 auto;
}

.social-icons__vk {
  background: url('../../assets/vk.svg') no-repeat 50% / contain;
  height: 30px;
  width: 34px;
}

.social-icons__soundcloud {
  background: url('../../assets/soundcloud.png') no-repeat 50% / contain;
  height: 30px;
  width: 50px;
  margin-left: 25px;
}

@media #{$tablets-and-large} {
  .app-container {
    min-height: $min-height;
  }

  .main-content-container {
    min-height: 510px;
    width: 100%;
  }

  .players {
    width: 100%;
  }

  .menu-panel {
    position: fixed;
    left: 0;
    height: 100%;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-transform: uppercase;
    margin: 60px 30px 0;
    font-size: 26px;
    z-index: 5;
  }

  .menu-element + .menu-element {
    margin-top: 40px;
  }

  .app-container__header-logo {
    max-width: $header-width;
    min-height: $header-height;
    background-image: url('../../assets/logo2.png');
    box-shadow: inset 0 0 44px 22px $background-color;
  }

  .app-container__header {
    height: auto;
  }

  .audio-container {
    margin-top: 49px;
  }

  .social-icons {
    z-index: 6;
    position: fixed;
    left: 70px;
    bottom: 30px;
    display: flex;
  }
}
