@import '../share.scss';

.app-container {
  text-align:center;
  background-color: $background-color;
  color: white;
  height: 100vh;
}
.app-container__header {
  background-color: $background-color;
  display: flex;
  height: 200px;
}

.app-container__header-logo {
  min-height: 200px;
  width: 100%;
  margin: auto;
  background-image: url('../assets/stipan_project_logo_3.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
}

@media #{$tablets-and-large} {
  .app-container__header-logo {
    max-width: 900px;
    min-height: 300px;
  }

  .app-container__header {
    height: auto;
  }
}
