@import '../share.scss';

.app-container {
  text-align:center;
  background-color: $default-color;
  color: white;
  height: 100vh;
}
.app-container__header {
  background-color: $default-color;
  display: flex;
}

.app-container__header-logo {
  max-width: 1000px;
  margin: auto;
}
