$medium-screen: 992px;
$tablets-and-large: "only screen and (min-device-width : #{$medium-screen})";

$background-color: #010101;
$primary-color: #e43127;
$help-color: #E2AF3E;
$light-color: #edeae6;

$min-height: 100vh;
$min-height-mobile: 80vh;
$cover-size: 300px;
$active-cover-size: 340px;
$header-width: 1000px;
$header-height: 200px;
$header-width-mobile: 350px;
$header-height-mobile: 150px;


.mobile {
  display: flex !important;
}

.desktop {
  display: none !important;
}

@media #{$tablets-and-large} {
  .mobile {
    display: none !important;
  }

  .desktop {
    display: flex !important;
  }
}
