$medium-screen: 992px;
$tablets-and-large: "only screen and (min-device-width : #{$medium-screen})";

$background-color: #353535;
//$background-color: #212121;
$dark-color: #191C17;
$primary-color: #BE2724;
$light-color: #edeae6;

$cover-size: 300px;

