$medium-screen: 992px;
$tablets-and-large: "only screen and (min-device-width : #{$medium-screen})";

$background-color: #010101;
$primary-color: #e43127;
$light-color: #edeae6;

$cover-size: 300px;
$header-width: 1000px;
$header-height: 250px;
$header-width-mobile: 350px;
$header-height-mobile: 150px;

