@import "share";

/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  font-family: STAMPWRITER-KIT;
}

h1 {
  margin: 0;
}

html {
  background-color: $background-color;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.margin-auto {
  margin: auto;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

@font-face {
  font-family: STAMPWRITER-KIT;
  src: url('assets/STAMPWRITER-KIT.ttf');
}
